<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>MonitoApp</title>
</head>
<body>
  <section>
    Seja bem-vindo, esta é a página inicial da API!
  </section>
</body>
</html>
